<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
            {{ message }}!
            <div>
                <a href="{{ path('app_index') }}">Page index</a>
            <div>
    </body>
</html>